.Quizbtn {
  border-radius: 15px;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  font-size: 18px;
  margin: 15px 0px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.Quizbtn.choice {
  background-color: #2196f3;
}
.Quizbtn.accept {
  background-color: #4caf50 !important;
}
.Quizbtn.decline {
  background-color: #f44336 !important;
}
.Quizbtn.decline:hover {
  background-color: #d32f2f;
}
.Quizbtn.accept:hover {
  background-color: #388e3c;
}

.Quizbtn.choice:hover {
  background-color: #388e3c;
}

.headerQuiz {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  position: relative;
}
.headerstep {
  width: 50%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
}
.response {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr !important;
  gap: 20px;
  padding: 50px 30px !important;
}
.question {
  text-align: center;
  font-size: 24px;
}
.topics-list {
  font-family: "Sacramento", cursive;
  font-size: 34px;
}
.topic-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconemessage {
  position: absolute;
  top: 10%;
  left: 5%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.imageuser {
  background-color: azure;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
.imageuser img {
  width: 100%;
  height: 100%;
}
.iconemessage p {
  min-width: 200px;
  background-color: azure;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 15px;
  text-align: justify;
  padding: 10px 20px;
}
.classement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 30px !important;
}
.nameclassement {
  font-family: "roboto";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e9af11;
  width: 100%;
  height: 280px;
  padding: 20px !important;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  text-align: center;
}
.sujet {
  text-align: center;
}
.sujet p:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0px;
  text-decoration: underline;
}
.sujet span {
  color: green;
}
.LoginUser {
  background-color: azure;
  width: 600px;
  padding: 40px 50px;
  height: auto;
}
form input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form p {
  text-transform: capitalize;
  font-weight: bold;
}
.container {
  margin-top: 20px;
}
.linkpath p a {
  text-decoration: none;
  color: #2196f3;
  cursor: pointer;
  font-weight: bold;
}
